body{
    height: 100vh;
    background-image: url(wallpaper.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    
}
#login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 50vh;
}
#tabela {
    box-sizing: content-box;
    border: 2px solid rgb(226, 108, 108);
    width:  100%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}

